这是测试正则表达式的地方。
<form [formGroup]="profileForm">
  <input type="text" formControlName="test"  (blur)="bulrInput($event)">

</form>
<!-- test.errors?.['requ'] -->
  <div *ngIf="test.errors?.['required']">
    Name is required.
  </div>
  <!-- 
  <div *ngIf="test.errors?.['minlength']">
    Name must be at least 4 characters long.
  </div>
   -->
   <div *ngIf="test.errors?.['forbiddenName']">
    符合条件.
  </div>


<input type="submit" (click)="test1()" value="111"/>
<button (click)="test1()">这是form</button>